body {
  color: #111;
  background-color: #fff;

  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.3em;

  position: absolute; /* Prevents margin collapse. */
  padding: 0;
  margin: 0;

  width: 100%;
}
small { font-size: .7em; }

a { text-decoration: inherit; }
a:active { text-decoration: inherit; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: inherit; }

h1, h2 {
  font-weight: lighter;

  line-height: 1.1em;

  margin: 0;
  margin-bottom: 1em;
}
h2 { font-size: 2.3em; }

.light-green, .foodtoeat-red, .blue, .google { color: #111; }
.light-green h2 a, .foodtoeat-red h2 a, .blue h2 a, .google h2 a { color: #fff; }

.foodtoeat-red { background-color: #d03b3b; }
.foodtoeat-red a { color: #701313; }
.foodtoeat-red small { color: #ffcdd2; }

.light-green { background-color: #8bc34a; }
.light-green a { color: #2b6316; }
.light-green small { color: #dcedc8; }

.blue { background-color: #2196f3; }
.blue a { color: #2a4b9c; }
.blue small { color: #bbdefb; }

section p,
section ul.resume li > div {
  margin: 0 auto;

  width: 80%;
  max-width: 900px;
  min-width: 300px;
}

section p { margin: 3.2em auto; }

section ul.resume { list-style-type: none; padding: 0; margin: 0; }
section ul.resume li { padding: 6em 0; border-top: 1px solid black; }

h2 img { display: inline-block; }
img.logo { max-height: 1em; position: relative; top: 6px; }

section ul.resume li p { width: 100%; margin: 0; }

div.clear { clear: both; }
